*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 10px;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  height: 200px;
  background-color: yellow;
  margin: 5px 10px;
}
/* fine header */

/* inizio main */
main{
  height: 600px;
  background-color: red;
  margin: 10px ;
}

.col-left{
  width: 20%;
  height: 50%;
  background-color: blue;
}

.col-right1{
  width: 20%;
  height: 40%;
  background-color: lightblue;
}

.col-right2{
  width: 20%;
  height: 40%;
  background-color: black;
}

.testo-centrale{
  width: calc(50% - 10px);
  height: 100%;
  background-color: violet;
  margin: 0 5px;
}

/* fine main */
/* inizio footer */
footer{
  height: 50px;
  background-color: black;
  margin: 0 10px;
}




/* end */
