*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 10px;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  height: 200px;
  background-color: yellow;
  margin: 5px;
}
/* fine header */

/* inizio main */
main{
  height: 100vh;
  background-color: red;
  margin: 5px ;
}

.col-left{
  width: 20%;
  height: 50%;
  background-color: blue;
  margin-right: 30px;
}

.colonna-destra{
  width: 20%;
  height: 90%;
  margin-left: 30px;
  background-color: purple;
  z-index: 0;
}

.testo{
  width: 50%;
  height: 30%;
  margin-left: 30px;
  margin-bottom: 5px;
  background-color: green;
  z-index: 1;
}

.testo-centrale{
  width: calc(50% - 10px);
  height: 100%;
  background-color: violet;
  margin: 0 5px;
}

/* fine main */
/* inizio footer */
footer{
  height: 80px;
  background-color: black;
  margin: 5px;
}




/* end */
